[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytz = "==2020.5"
python-slugify = "==4.0.1"
Pillow = "==8.1.0"
argon2-cffi = "==20.1.0"
redis = "==3.5.3"
hiredis = "==1.1.0"
python-graphql-client = "*"
django-ndarray = "==0.0.3"
django-extensions = "==3.1.0"
django-autoslug = "*"
zappa = "*"
Django = "==3"
django-environ = "==0.4.5"
django-model-utils = "==4.1.1"
django-allauth = "==0.44.0"
django-crispy-forms = "==1.10.0"
jedi = "==0.17.2"
gunicorn = "==20.0.4"
psycopg2 = "==2.8.6"
Collectfast = "==2.2.0"
django-s3-sqlite = "*"
whitenoise = "*"
django = "*"

[dev-packages]

[requires]
python_version = "3.8"

[packages.dj_proposals_candidates]
git = "git://github.com/lfalvarez/proposals-core.git"
editable = true
