<input type="text" id="{{input_id}}" class="form-control" placeholder="{{placeholder}}"/>
<!--a class="boton-antp" type="submit" onclick="onClick_{{input_id}}">Revisar</a-->
<script>
        var src_{{input_id}} = {
      {% for o in object_list %}"{{o.name}}": "{{o.slug}}",{% endfor %}
    }

    function onSelectItem_{{input_id}}(item) {

      let slug = item.value;
      let url = '{{pre_fix}}/'+slug;

      $(location).attr('href', url)
    }
    function onClick_{{input_id}}(event){
        console.log(event);
        event.preventDefault();
    };
    $( document ).ready(function() {
        $('#{{input_id}}').autocomplete({
          source: src_{{input_id}},
          onSelectItem: onSelectItem_{{input_id}},
          highlightClass: 'text-danger',
          treshold: 2,
        });
    });
</script>
