<input type="text" id="{{input_id}}" class="form-control" />

<script>
        var src_{{input_id}} = {
      {% for comuna in object_list %}"{{comuna.name}}": "{{comuna.slug}}",{% endfor %}
    }

    function onSelectItem_{{input_id}}(item) {

      let slug = item.value;
      $(location).attr('href', 'comuna/'+slug + "{{post_fix}}")
    }
    $( document ).ready(function() {
        $('#{{input_id}}').autocomplete({
          source: src_{{input_id}},
          onSelectItem: onSelectItem_{{input_id}},
          highlightClass: 'text-danger',
          treshold: 2,
        });
    });
</script>
