<footer class="container-fluid">
    <div class="container">
        <div class="row alinear">

            <div class="col-4 col-sm-4 col-md-3 col-lg-3 col-xl-3 logo">
                <img src="../../static/imagenes/logo-antp.png" alt="personas" class="pueblo-originario">
            </div>

            <div class="col-8 col-sm-8 col-md-6 col-lg-6 col-xl-6">
                <nav class="nav-footer">
                    <ul>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Quiénes Somos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Preguntas Frecuentes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Términos y condiciones</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Organizaciones involucradas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contacto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Transparencia</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Descargar ficheros de datos abiertos</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 rrss">
                <ul class="redes-sociales">
                    <li><a href="#"><img src="../../static/imagenes/twitter-icono.svg" alt="icono twitter"></a></li>
                    <li><a href="#"><img src="../../static/imagenes/facebook-icono.svg" alt="icono facebook"></a></li>
                    <li><a href="#"><img src="../../static/imagenes/instagram-icono.svg" alt="icono instagram"></a></li>
                    <li><a href="#"><img src="../../static/imagenes/youtube-icono.svg" alt="icono youtube"></a></li>
                </ul>
            </div>

        </div>
    </div>
</footer>

<!--FOOTER CREDITOS -->
<div class="container-fluid footer-creditos">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 alinear">
                <img src="../../static/imagenes/logo-softwarelibre.png" alt="iconos software libre">
                <p>Web creada con <a href="#" class="enlace">software libre</a>.</p>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <p>Con el soporte de</p>
                <img src="../../static/imagenes/alabs-logo.svg" alt="logo alabs">
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <img src="../../static/imagenes/decidim-logo.svg" alt="logo decidim">
            </div>
        </div>
    </div>
</div>
