{% load static %}
<footer class="container-fluid">
    <div class="container">
        <div class="row alinear">

            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 logo">
                <img src="{% static 'imagenes/logoANTP.svg' %}" alt="personas" class="pueblo-originario">
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <nav class="nav-footer">
                    <ul>
                        <li class="nav-item">
                            <a class="nav-link" href="https://ahoranostocaparticipar.cl/pages/quienes-somos">Quiénes Somos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://ahoranostocaparticipar.cl/pages/faq">Preguntas Frecuentes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://ahoranostocaparticipar.cl/pages/accessibility">Términos y condiciones</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://ahoranostocaparticipar.cl/pages/patrocinantes">Organizaciones involucradas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://ahoranostocaparticipar.cl/pages/contacto">Contacto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://ahoranostocaparticipar.cl/pages/transparencia">Transparencia</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://ahoranostocaparticipar.cl/open-data/download">Descargar ficheros de datos abiertos</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 rrss">
                <ul class="redes-sociales">
                    <li><a href="https://twitter.com/ahrnostoca"><img src="{% static 'imagenes/twitter-icono.svg' %}" alt="icono twitter"></a></li>
                    <li><a href="https://www.facebook.com/ahoranostocachile"><img src="{% static 'imagenes/facebook-icono.svg' %}" alt="icono facebook"></a></li>
                    <li><a href="https://www.instagram.com/ahoranostocachile"><img src="{% static 'imagenes/instagram-icono.svg' %}" alt="icono instagram"></a></li>
                    <li><a href="https://www.youtube.com/channel/UCJQZ-TRYaj3hZ53JiGAFYkQ"><img src="{% static 'imagenes/youtube-icono.svg' %}" alt="icono youtube"></a></li>
                </ul>
            </div>

        </div>
    </div>
</footer>

<!--FOOTER CREDITOS -->
<div class="container-fluid footer-creditos">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 alinear">
                <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank"><img src="{% static 'imagenes/logo-softwarelibre.png' %}" alt="iconos software libre"></a>
                <p>Web creada con <a href="#" class="enlace">software libre</a>.</p>
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 fci-creditos">
                <p>Desarrollado por</p>
                <a href="https://ciudadaniai.org/" target="_blank"><img src="{% static 'imagenes/logo-fci.svg' %}" alt="logo fci"></a>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                <p>Con el soporte de</p>
                <a href="https://www.alabs.org/" target="_blank"><img src="{% static 'imagenes/alabs-logo.svg' %}" alt="logo alabs"></a>
            </div>
            <!--
            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                <a href="https://decidim.org/" target="_blank"> <img src="{% static 'imagenes/decidim-logo.svg' %}" alt="logo decidim"></a>
            </div>
            -->
        </div>
    </div>
</div>
