{% load static %} {% load medianaranja_extras %} {% block extrajstop %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap-4-autocomplete/dist/bootstrap-4-autocomplete.min.js" crossorigin="anonymous">


</script>
{% endblock extrajstop %}

<header>

    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container-fluid hello-bar">
            <div class="container">
                <div class="mensaje">
                    <p>Si eres candidato/a a la Convención Constitucional, te invitamos a sumarte #ParticipamosTodxs y firmar nuestros compromisos por la participación e inclusión.</p>
                </div>
                <div class="boton">
                    <a class="boton-antp" href="#" target="_blank">Conoce los compromisos</a>
                </div>
            </div>
        </div>

        <div class="nav-form container my-2">
            <a class="navbar-brand" href="/"><img src="{% static 'imagenes/logo-antp.png' %}" alt="My image"></a>
            <ul class="navbar-nav">
                <div id="parent" class="form-group">
                    {% buscador_comunas input_id='header_comunas' pre_fix="comuna" placeholder='Escribe tu comuna' %}
                </div>
                <li class="nav-item">
                    <a class="nav-link" href="https://ahoranostocaparticipar.cl/users/sign_up">Registrate</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://ahoranostocaparticipar.cl/users/sign_in">Entrar</a>
                </li>
            </ul>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        </div>
        <div class="collapse navbar-collapse v-desktop" id="navbarNavDropdown">
            <ul class="navbar-nav container">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://ahoranostocaparticipar.cl/processes">¿Cómo participar?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://ahoranostocaparticipar.cl/assemblies">Territorios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://ahoranostocaparticipar.cl/processes/noticias/f/6/">Noticias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://ahoranostocaparticipar.cl/pages">Sobre el proyecto</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
