{% load medianaranja_extras %}
{% load static %}
<section class="candidatos container-fluid">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h2>Candidatos de tu Distrito</h2>
            </div>

            {% for candidatura in distrito.candidates.all %}
                {% se_ha_comprometido candidatura as se_ha_comprometido_al_menos_con_una %}
                {% if se_ha_comprometido_al_menos_con_una %}
                {% include 'componentes/candidato_card.html' with candidatura=candidatura %}
                {% endif %}
            {% endfor %}




            <!--div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <nav aria-label="nav-paginacion">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link active" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                    </ul>
                </nav>
            </div-->

        </div>
    </div>
</section>

<div class="textura-prev-pueblos">
    <img src="{% static 'imagenes/textura-decoracion-postbanner.svg' %}" alt="textura">
</div>

<section class="candidatos-pueblos-contenedor container-fluid">
    <div class="container">
        {% for pueblo_originario in distrito.region.pueblos_originarios.all %}
        <div class="row justify-content-md-center">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h2>Estas son las candidaturas de <br><span>{{pueblo_originario}}</span> en la {{distrito.region}}</h2>
            </div>
            {% for candidatura in pueblo_originario.candidates.all %}
            {% include 'componentes/candidato_card.html' with candidatura=candidatura %}
            {% endfor %}

        </div>
        {% endfor %}

    </div>
</section>

<div class="textura-post-pueblos">
    <img src="{% static 'imagenes/textura-decoracion-postbanner.svg' %}" alt="textura">
</div>


<section class="comunas-distrito container-fluid">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h2>Comunas que pertenecen al <span>{{distrito}}</span></h2>
            </div>

            <div class="col-12 col-sm-12 col-md-7 col-lg-6 col-xl-6 comunas">
                <div class="comunas-distrito-list">
                    <ul>
                        {% for comuna in distrito.comunas.all %}
                        <li>
                            <p>{{comuna}}</p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="mancha-prev-footer-distritos">
        <img src="{% static 'imagenes/mancha-prev-footer.svg' %}" alt="personas" class="pueblo-originario">
    </div>
</section>



<div class="container resultado-candidatos-list">
    <div class="card">
        <ul class="list-group list-group-flush">
            {% for candidate in distrito.get_sorted_candidates %}
            <li class="list-group-item">
                {{candidate}} - {{candidate | percentage |floatformat:"-2" }}%
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: {{candidate | percentage }}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
