{% load medianaranja_extras %}
{% load static %}
<section class="candidatos container-fluid">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h2>Candidatos de tu Distrito</h2>
            </div>

            <!--Candidato Card -->
            <div class="col-10 col-sm-6 col-md-4 col-lg-3 col-xl-3 candidatos">
                <div class="card-candidato" data-toggle="modal" data-target="#perfil-candidato-1">
                    <p>Partido Político</p>
                    <h5>Nombre Apellido</h5>
                    <div class="compromisos-adheridos">
                        <img src="{% static 'imagenes/estrella-rosa.svg' %}" alt="estrella rosa">
                        <img src="{% static 'imagenes/estrella-azul.svg' %}" alt="estrella azul">
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="perfil-candidato-1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                            </div>
                            <div class="modal-body">
                                <h3>Nombre Candidato</h3>
                                <ul>
                                    <li>
                                        <p><b>Lista:</b> Ingresar lista candidato.</p>
                                    </li>
                                    <li>
                                        <p><b>Partido Político:</b> Ingresar nombre partido político.</p>
                                    </li>
                                    <li>
                                        <p><b>Letra:</b> (Comentario Maria Jose: solo en caso de poder extraer este dato, si no, no.)</p>
                                    </li>
                                </ul>

                                <div class="rrss-candidato">
                                    <ul class="redes-sociales">
                                        <li><a href="#"><img src="{% static 'imagenes/twitter-icono-rosa.svg' %}" alt="icono twitter"></a></li>
                                        <li><a href="#"><img src="{% static 'imagenes/fb-icono-rosa.svg' %}" alt="icono facebook"></a></li>
                                        <li><a href="#"><img src="{% static 'imagenes/insta-icono-rosa.svg' %}" alt="icono instagram"></a></li>
                                    </ul>
                                </div>
                                <div class="sitioweb">
                                    <a href="#" class="boton-antp" type="submit">Sitio Web Candidato</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Candidato Card -->
            <div class="col-10 col-sm-6 col-md-4 col-lg-3 col-xl-3 candidatos">
                <div class="card-candidato" data-toggle="modal" data-target="#perfil-candidato-2">
                    <p>Partido Político</p>
                    <h5>Nombre Apellido</h5>
                    <div class="compromisos-adheridos">
                        <img src="{% static 'imagenes/estrella-rosa.svg' %}" alt="estrella rosa">
                        <img src="{% static 'imagenes/estrella-azul.svg' %}" alt="estrella azul">
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="perfil-candidato-2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                            </div>
                            <div class="modal-body">
                                <h3>Nombre Candidato</h3>
                                <ul>
                                    <li>
                                        <p><b>Lista:</b> Ingresar lista candidato.</p>
                                    </li>
                                    <li>
                                        <p><b>Partido Político:</b> Ingresar nombre partido político.</p>
                                    </li>
                                    <li>
                                        <p><b>Letra:</b> (Comentario Maria Jose: solo en caso de poder extraer este dato, si no, no.)</p>
                                    </li>
                                </ul>

                                <div class="rrss-candidato">
                                    <ul class="redes-sociales">
                                        <li><a href="#"><img src="{% static 'imagenes/twitter-icono-rosa.svg' %}" alt="icono twitter"></a></li>
                                        <li><a href="#"><img src="{% static 'imagenes/fb-icono-rosa.svg' %}" alt="icono facebook"></a></li>
                                        <li><a href="#"><img src="{% static 'imagenes/insta-icono-rosa.svg' %}" alt="icono instagram"></a></li>
                                    </ul>
                                </div>
                                <div class="sitioweb">
                                    <a href="#" class="boton-antp" type="submit">Sitio Web Candidato</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Candidato Card -->
            <div class="col-10 col-sm-6 col-md-4 col-lg-3 col-xl-3 candidatos">
                <div class="card-candidato" data-toggle="modal" data-target="#perfil-candidato-3">
                    <p>Partido Político</p>
                    <h5>Nombre Apellido</h5>
                    <div class="compromisos-adheridos">
                        <img src="{% static 'imagenes/estrella-rosa.svg' %}" alt="estrella rosa">
                        <img src="{% static 'imagenes/estrella-azul.svg' %}" alt="estrella azul">
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="perfil-candidato-3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                            </div>
                            <div class="modal-body">
                                <h3>Nombre Candidato</h3>
                                <ul>
                                    <li>
                                        <p><b>Lista:</b> Ingresar lista candidato.</p>
                                    </li>
                                    <li>
                                        <p><b>Partido Político:</b> Ingresar nombre partido político.</p>
                                    </li>
                                    <li>
                                        <p><b>Letra:</b> (Comentario Maria Jose: solo en caso de poder extraer este dato, si no, no.)</p>
                                    </li>
                                </ul>

                                <div class="rrss-candidato">
                                    <ul class="redes-sociales">
                                        <li><a href="#"><img src="{% static 'imagenes/twitter-icono-rosa.svg' %}" alt="icono twitter"></a></li>
                                        <li><a href="#"><img src="{% static 'imagenes/fb-icono-rosa.svg' %}" alt="icono facebook"></a></li>
                                        <li><a href="#"><img src="{% static 'imagenes/insta-icono-rosa.svg' %}" alt="icono instagram"></a></li>
                                    </ul>
                                </div>
                                <div class="sitioweb">
                                    <a href="#" class="boton-antp" type="submit">Sitio Web Candidato</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Candidato Card -->
            <div class="col-10 col-sm-6 col-md-4 col-lg-3 col-xl-3 candidatos">
                <div class="card-candidato" data-toggle="modal" data-target="#perfil-candidato-4">
                    <p>Partido Político</p>
                    <h5>Nombre Apellido</h5>
                    <div class="compromisos-adheridos">
                        <img src="{% static 'imagenes/estrella-rosa.svg' %}" alt="estrella rosa">
                        <img src="{% static 'imagenes/estrella-azul.svg' %}" alt="estrella azul">
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="perfil-candidato-4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                            </div>
                            <div class="modal-body">
                                <h3>Nombre Candidato</h3>
                                <ul>
                                    <li>
                                        <p><b>Lista:</b> Ingresar lista candidato.</p>
                                    </li>
                                    <li>
                                        <p><b>Partido Político:</b> Ingresar nombre partido político.</p>
                                    </li>
                                    <li>
                                        <p><b>Letra:</b> (Comentario Maria Jose: solo en caso de poder extraer este dato, si no, no.)</p>
                                    </li>
                                </ul>

                                <div class="rrss-candidato">
                                    <ul class="redes-sociales">
                                        <li><a href="#"><img src="{% static 'imagenes/twitter-icono-rosa.svg' %}" alt="icono twitter"></a></li>
                                        <li><a href="#"><img src="{% static 'imagenes/fb-icono-rosa.svg' %}" alt="icono facebook"></a></li>
                                        <li><a href="#"><img src="{% static 'imagenes/insta-icono-rosa.svg' %}" alt="icono instagram"></a></li>
                                    </ul>
                                </div>
                                <div class="sitioweb">
                                    <a href="#" class="boton-antp" type="submit">Sitio Web Candidato</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Candidato Card -->
            <div class="col-10 col-sm-6 col-md-4 col-lg-3 col-xl-3 candidatos">
                <div class="card-candidato" data-toggle="modal" data-target="#perfil-candidato-5">
                    <p>Partido Político</p>
                    <h5>Nombre Apellido</h5>
                    <div class="compromisos-adheridos">
                        <img src="{% static 'imagenes/estrella-rosa.svg' %}" alt="estrella rosa">
                        <img src="{% static 'imagenes/estrella-azul.svg' %}" alt="estrella azul">
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="perfil-candidato-5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                            </div>
                            <div class="modal-body">
                                <h3>Nombre Candidato</h3>
                                <ul>
                                    <li>
                                        <p><b>Lista:</b> Ingresar lista candidato.</p>
                                    </li>
                                    <li>
                                        <p><b>Partido Político:</b> Ingresar nombre partido político.</p>
                                    </li>
                                    <li>
                                        <p><b>Letra:</b> (Comentario Maria Jose: solo en caso de poder extraer este dato, si no, no.)</p>
                                    </li>
                                </ul>

                                <div class="rrss-candidato">
                                    <ul class="redes-sociales">
                                        <li><a href="#"><img src="{% static 'imagenes/twitter-icono-rosa.svg' %}" alt="icono twitter"></a></li>
                                        <li><a href="#"><img src="{% static 'imagenes/fb-icono-rosa.svg' %}" alt="icono facebook"></a></li>
                                        <li><a href="#"><img src="{% static 'imagenes/insta-icono-rosa.svg' %}" alt="icono instagram"></a></li>
                                    </ul>
                                </div>
                                <div class="sitioweb">
                                    <a href="#" class="boton-antp" type="submit">Sitio Web Candidato</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Candidato Card -->
            <div class="col-10 col-sm-6 col-md-4 col-lg-3 col-xl-3 candidatos">
                <div class="card-candidato" data-toggle="modal" data-target="#perfil-candidato-6">
                    <p>Partido Político</p>
                    <h5>Nombre Apellido</h5>
                    <div class="compromisos-adheridos">
                        <img src="{% static 'imagenes/estrella-rosa.svg' %}" alt="estrella rosa">
                        <img src="{% static 'imagenes/estrella-azul.svg' %}" alt="estrella azul">
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="perfil-candidato-6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                            </div>
                            <div class="modal-body">
                                <h3>Nombre Candidato</h3>
                                <ul>
                                    <li>
                                        <p><b>Lista:</b> Ingresar lista candidato.</p>
                                    </li>
                                    <li>
                                        <p><b>Partido Político:</b> Ingresar nombre partido político.</p>
                                    </li>
                                    <li>
                                        <p><b>Letra:</b> (Comentario Maria Jose: solo en caso de poder extraer este dato, si no, no.)</p>
                                    </li>
                                </ul>

                                <div class="rrss-candidato">
                                    <ul class="redes-sociales">
                                        <li><a href="#"><img src="{% static 'imagenes/twitter-icono-rosa.svg' %}" alt="icono twitter"></a></li>
                                        <li><a href="#"><img src="{% static 'imagenes/fb-icono-rosa.svg' %}" alt="icono facebook"></a></li>
                                        <li><a href="#"><img src="{% static 'imagenes/insta-icono-rosa.svg' %}" alt="icono instagram"></a></li>
                                    </ul>
                                </div>
                                <div class="sitioweb">
                                    <a href="#" class="boton-antp" type="submit">Sitio Web Candidato</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Candidato Card -->
            <div class="col-10 col-sm-6 col-md-4 col-lg-3 col-xl-3 candidatos">
                <div class="card-candidato" data-toggle="modal" data-target="#perfil-candidato-7">
                    <p>Partido Político</p>
                    <h5>Nombre Apellido</h5>
                    <div class="compromisos-adheridos">
                        <img src="{% static 'imagenes/estrella-rosa.svg' %}" alt="estrella rosa">
                        <img src="{% static 'imagenes/estrella-azul.svg' %}" alt="estrella azul">
                    </div>
                </div>



            <!--Candidato Card -->
            <div class="col-10 col-sm-6 col-md-4 col-lg-3 col-xl-3 candidatos">
                <div class="card-candidato" data-toggle="modal" data-target="#perfil-candidato-8">
                    <p>Partido Político</p>
                    <h5>Nombre Apellido</h5>
                    <div class="compromisos-adheridos">
                        <img src="{% static 'imagenes/estrella-rosa.svg' %}" alt="estrella rosa">
                        <img src="{% static 'imagenes/estrella-azul.svg' %}" alt="estrella azul">
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="perfil-candidato-8" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                            </div>
                            <div class="modal-body">
                                <h3>Nombre Candidato</h3>
                                <ul>
                                    <li>
                                        <p><b>Lista:</b> Ingresar lista candidato.</p>
                                    </li>
                                    <li>
                                        <p><b>Partido Político:</b> Ingresar nombre partido político.</p>
                                    </li>
                                    <li>
                                        <p><b>Letra:</b> (Comentario Maria Jose: solo en caso de poder extraer este dato, si no, no.)</p>
                                    </li>
                                </ul>

                                <div class="rrss-candidato">
                                    <ul class="redes-sociales">
                                        <li><a href="#"><img src="{% static 'imagenes/twitter-icono-rosa.svg' %}" alt="icono twitter"></a></li>
                                        <li><a href="#"><img src="{% static 'imagenes/fb-icono-rosa.svg' %}" alt="icono facebook"></a></li>
                                        <li><a href="#"><img src="{% static 'imagenes/insta-icono-rosa.svg' %}" alt="icono instagram"></a></li>
                                    </ul>
                                </div>
                                <div class="sitioweb">
                                    <a href="#" class="boton-antp" type="submit">Sitio Web Candidato</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <nav aria-label="nav-paginacion">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link active" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                    </ul>
                </nav>
            </div-->

        </div>
    </div>
</section>

<div class="textura-prev-pueblos">
    <img src="{% static 'imagenes/textura-decoracion-postbanner.svg' %}" alt="textura">
</div>

<section class="candidatos-pueblos-contenedor container-fluid">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h2>Estas son las candidaturas de <br><span>Pueblos Originarios</span> en la Región Metropolitana</h2>
            </div>

            <!--Candidato Card -->
            <div class="col-10 col-sm-6 col-md-4 col-lg-3 col-xl-3 candidatos-pueblos">
                <div class="card-candidato" data-toggle="modal" data-target="#perfil-candidato-pueblo-1">
                    <p>Partido Político</p>
                    <h5>Nombre Apellido</h5>
                    <p class="pueblo-origen">Pueblo Originario</p>
                    <div class="compromisos-adheridos">
                        <img src="{% static 'imagenes/estrella-rosa.svg' %}" alt="estrella rosa">
                        <img src="{% static 'imagenes/estrella-azul.svg' %}" alt="estrella azul">
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="perfil-candidato-pueblo-1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                            </div>
                            <div class="modal-body">
                                <h3>Nombre Candidato</h3>
                                <ul>
                                    <li>
                                        <p><b>Pueblo originario:</b> Nombre pueblo perteneciente.</p>
                                    </li>
                                    <li>
                                        <p><b>Región:</b> Región postulación.</p>
                                    </li>
                                    <li>
                                        <p><b>Lista:</b> Ingresar lista candidato.</p>
                                    </li>
                                    <li>
                                        <p><b>Letra:</b> (Comentario Maria Jose: solo en caso de poder extraer este dato, si no, no.)</p>
                                    </li>
                                </ul>

                                <div class="rrss-candidato">
                                    <ul class="redes-sociales">
                                        <li><a href="#"><img src="{% static 'imagenes/twitter-icono-rosa.svg' %}" alt="icono twitter"></a></li>
                                        <li><a href="#"><img src="{% static 'imagenes/fb-icono-rosa.svg' %}" alt="icono facebook"></a></li>
                                        <li><a href="#"><img src="{% static 'imagenes/insta-icono-rosa.svg' %}" alt="icono instagram"></a></li>
                                    </ul>
                                </div>
                                <div class="sitioweb">
                                    <a href="#" class="boton-antp" type="submit">Sitio Web Candidato</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Candidato Card -->
            <div class="col-10 col-sm-6 col-md-4 col-lg-3 col-xl-3 candidatos-pueblos">

                <div class="card-candidato" data-toggle="modal" data-target="#perfil-candidato-pueblo-2">
                    <p>Partido Político</p>
                    <h5>Nombre Apellido</h5>
                    <p class="pueblo-origen">Pueblo Originario</p>
                    <div class="compromisos-adheridos">
                        <img src="{% static 'imagenes/estrella-rosa.svg' %}" alt="estrella rosa">
                        <img src="{% static 'imagenes/estrella-azul.svg' %}" alt="estrella azul">
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="perfil-candidato-pueblo-2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                            </div>
                            <div class="modal-body">
                                <h3>Nombre Candidato</h3>
                                <ul>
                                    <li>
                                        <p><b>Lista:</b> Ingresar lista candidato.</p>
                                    </li>
                                    <li>
                                        <p><b>Partido Político:</b> Ingresar nombre partido político.</p>
                                    </li>
                                    <li>
                                        <p><b>Letra:</b> (Comentario Maria Jose: solo en caso de poder extraer este dato, si no, no.)</p>
                                    </li>
                                </ul>
                                <div class="rrss-candidato">
                                    <ul class="redes-sociales">
                                        <li><a href="#"><img src="{% static 'imagenes/twitter-icono-rosa.svg' %}" alt="icono twitter"></a></li>
                                        <li><a href="#"><img src="{% static 'imagenes/fb-icono-rosa.svg' %}" alt="icono facebook"></a></li>
                                        <li><a href="#"><img src="{% static 'imagenes/insta-icono-rosa.svg' %}" alt="icono instagram"></a></li>
                                    </ul>
                                </div>
                                <div class="sitioweb">
                                    <a href="#" class="boton-antp" type="submit">Sitio Web Candidato</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% for candidatura in pueblo_originario.candidates.all %}
            {% include 'componentes/candidato_card.html' with candidatura=candidatura %}
            {% endfor %}

        </div>
        {% endfor %}

    </div>
</section>

<div class="textura-post-pueblos">
    <img src="{% static 'imagenes/textura-decoracion-postbanner.svg' %}" alt="textura">
</div>


<section class="comunas-distrito container-fluid">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h2>Comunas que pertenecen al <span>{{distrito}}</span></h2>
            </div>

            <div class="col-12 col-sm-12 col-md-7 col-lg-6 col-xl-6 comunas">
                <div class="comunas-distrito-list">
                    <ul>
                        {% for comuna in distrito.comunas.all %}
                        <li>
                            <p>{{comuna}}</p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="mancha-prev-footer-distritos">
        <img src="{% static 'imagenes/mancha-prev-footer.svg' %}" alt="personas" class="pueblo-originario">
    </div>
</section>



<div class="container resultado-candidatos-list">
    <div class="card">
        <ul class="list-group list-group-flush">
            {% for candidate in distrito.get_sorted_candidates %}
            <li class="list-group-item">
                {{candidate}} - {{candidate | percentage |floatformat:"-2" }}%
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: {{candidate | percentage }}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
