{% extends 'base.html' %} {% load static %} {% load medianaranja_extras %} {% block extrajstop %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap-4-autocomplete/dist/bootstrap-4-autocomplete.min.js" crossorigin="anonymous">


</script>
{% endblock extrajstop %} {% block preContent %}
<!-- {% include 'componentes/carousel.html' %} -->
{% endblock preContent %} {% block content %}


<div class="portada">
    <h2 class="titulo-portada">
        <!--<span>Participamos todos</span><br>-->
        Creemos en la participación para fortalecer la democracia y la cohesión social desde las diversas ciudadanías y territorios. <span>¡Infórmate, participa e incide!
        </span></h2>
    <div class="boton-acla">
        <p>Conocelas Aquí</p>
        <a data-scroll href="#busqueda-candidatos"><img src="{% static 'imagenes/icono-arrow.svg' %}" alt="icono scroll"></a>
    </div>
</div>

<div class="textura-post-menu-home" id="busqueda-candidatos">
    <img src="{% static 'imagenes/trazo-postmenu-decoracion.svg' %}" alt="textura">
</div>

<div class="container-fluid busqueda-comuna">
    <div class="row form-contenidos">
        <!-- <div class="col-12 col-sm-12 col-md-6 offset-md-3 col-lg-5 offset-lg-3 col-xl-4 offset-xl-3 form-comunas">
            <h1>Participamos <span>Todxs</span></h1>
            <p class="bajada-titulo">Por un proceso constituyente donde todas las voces participen.</p> -->

        <div class="col-12 col-sm-12 col-md-10 offset-md-2 col-lg-5 offset-lg-3 col-xl-4 offset-xl-3 form-comunas">
            <h1>Participamos <span>Todxs</span></h1>
            <p class="bajada-titulo">Por un proceso constituyente donde todas las voces participen.</p>

            <p>Encuentra las <b>candidaturas comprometidas</b> por una participación ciudadana inclusiva.</p>

            <div id="parent" class="form-group">
                <label for="myAutocomplete">Escribe <b>la comuna</b> en que votas:</label>

                <img src="{% static 'imagenes/map-icono.svg' %}" alt="mapa-icono" class="icono-mapa"> {% buscador_comunas input_id='myAutocomplete' pre_fix="/comuna" placeholder='Escribe tu comuna' %}

            </div>

        </div>

        <div class="personas">
            <img src="{% static 'imagenes/fondo-personas-congregadas.png' %}" alt="personas" class="personas-organizacion">
        </div>

        <div class="mancha">
            <img src="{% static 'imagenes/mancha-busqueda-comuna.svg' %}" alt="mancha" class="mancha">
        </div>
    </div>
</div>

<div class="textura-post-busqueda-comuna">
    <img src="{% static 'imagenes/textura-post-comunas.svg' %}" alt="textura">
</div>



<div class="container-fluid busqueda-pueblo-originario">
    <div class="personas">
        <img src="{% static 'imagenes/mujeres-pueblos-originarios.png' %}" alt="personas" class="pueblo-originario">
    </div>
    <div class="mancha">
        <img src="{% static 'imagenes/granillo-amarillo.svg' %}" alt="mancha" class="mancha">
    </div>

    <div class="row form-contenidos">
        <div class="col-12 col-sm-12 col-md-5 offset-md-5 col-lg-4 offset-lg-5 col-xl-4 offset-xl-5 form-comunas">
            <h2> Conoce cuáles son las candidaturas de <span>pueblos originarios</span> para la Convención</h2>
            <div id="parent" class="form-group">
                <label for="buscador_pueblos_originarios">Escribe el nombre del <b>Pueblo Originario</b> para consultar:</label> {% buscador_pueblos_originarios input_id='buscador_pueblos_originarios' pre_fix="/pueblos_originarios" placeholder='Escribe el pueblo originario' %}
            </div>
        </div>
    </div>
    <div class="mancha-prev-footer">
        <img src="{% static 'imagenes/mancha-prev-footer.svg' %}" alt="personas" class="pueblo-originario">
    </div>
</div>


<div class="textura-post-pueblos prev-contenidos-destacados">
    <img src="{% static 'imagenes/textura-post-pueblos.svg' %}" alt="textura" width="w-100">
</div>

<section class="container-fluid mensaje-adhesion contenidos-destacados">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-5">
                <h3><b>Contenidos <span>Destacados</span></b></h3>
                <p>Todo lo que tienes que saber para votar en las próximas elecciones de una manera libre e informada.</p>
            </div>

            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <a href="https://ahoranostocaparticipar.cl/uploads/decidim/attachment/file/149/Kit_Informacio%CC%81n_oportuna_Elecciones_2021.pdf" target="_blank">
                   <img src="{% static 'imagenes/contenido-destacado-1.jpg' %}" alt="img" class="w-100">
                   <h4>Elecciones mayo 2021 <span>¡Todo lo que debes saber!</span></h4>
               </a>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <a href="https://ahoranostocaparticipar.cl/processes/formate/f/129/" target="_blank">
                   <img src="{% static 'imagenes/contenido-destacado-2.jpg' %}" alt="img" class="w-100">
                   <h4>Contenidos en <span>otras lenguas</span></h4>
               </a>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <a href="https://ahoranostocaparticipar.cl/processes/formate/f/5/" target="_blank">
                   <img src="{% static 'imagenes/contenido-destacado-3.jpg' %}" alt="img" class="w-100">
                   <h4>Contenidos <span>accesibles</span></h4>
               </a>
            </div>


        </div>
    </div>

</section>

<div class="textura-post-contenidos-destacados">
    <img src="{% static 'imagenes/textura-decoracion-postbanner.svg' %}" alt="textura">
</div>


<section class="container-fluid mensaje-adhesion noticias-destacadas">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-5">
                <h3><b>Noticias <span>Destacadas</span></b></h3>
                <p>Entérate de las últimas novedades de Ahora Nos Toca Participar.</p>
            </div>

            <!-- esta noticia se activara el lunes -->

            <!--  <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                <a href="#" target="_blank">
                   <img src="../static/imagenes/img-prototipo-noticia.jpg" alt="img" class="w-100">
                   <h4>Lorem <span>ipsum</span></h4>
               </a>
            </div>-->
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <a href="https://ahoranostocaparticipar.cl/processes/noticias/f/6/posts/56" target="_blank">
                   <img src="{% static 'imagenes/noticia-destacada-2.jpg' %}" alt="img" class="w-100">
                   <h4>Lanzan Manual “Miradas para la inclusión: participación ciudadana de grupos excluidos”</h4>
               </a>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <a href="https://ahoranostocaparticipar.cl/processes/noticias/f/6/posts/54" target="_blank">
                   <img src="{% static 'imagenes/noticia-destacada-3.jpg' %}" alt="img" class="w-100">
                   <h4>#ParticipamosTodxs: la campaña que busca garantizar la participación ciudadana inclusiva en la Convención</h4>
               </a>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <a href="https://ahoranostocaparticipar.cl/processes/noticias/f/6/posts/57" target="_blank">
                   <img src="{% static 'imagenes/noticia-destacada-4.jpg' %}" alt="img" class="w-100">
                   <h4>ACNUDH y PNUD CHILE presentan plataforma web Pueblos Indígenas y Constitución</h4>
               </a>
            </div>


        </div>
    </div>

</section>



{% endblock content %}
