{% extends 'base.html' %} {% load static %} {% block content %}

<div class="banner-mapa-distrito">
    <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d53174.04800860228!2d-70.59680875596365!3d-33.595495467408!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662d652752a03c3%3A0x8f5de46ed2a22e92!2sPuente%20Alto%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses!2scl!4v1617581462137!5m2!1ses!2scl" width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>-->
    <div class="info">
        <h1 class="distrito">{% if comuna %}{{comuna}}, {% endif %}{{distrito}}</h1>
        <p class="region">{{distrito.region_territory}}</p>
    </div>
</div>

<div class="textura-post-banner">
    <img src="{% static 'imagenes/textura-decoracion-postbanner.svg' %}" alt="textura">
</div>

<section class="container compromisos">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 info-compromisos">
            <h2><b>Compromisos #ParticipamosTodxs: </b><br>Por una participación ciudadana inclusiva</h2>
            <p>Porque en este proceso constituyente <b>#ParticipamosTodxs</b>, les pedimos a las candidaturas que adhieran a los siguientes compromisos, para impulsar una participación ciudadana inclusiva durante el trabajo de la Convención Constitucional.</p>
            <div class="compromiso pink">
                <h3>Compromiso por la inclusión de grupos con mayor vulneración de derechos.</h3>
                <p>Trabajados desde Manual <a href="http://library.fes.de/pdf-files/bueros/chile/17716.pdf" target="_blank">“Miradas para la inclusión”</a>.</p>
                <a class="boton-antp" href="{{distrito.link_compromiso_inclusion}}" target="_blank">Revisa el compromiso</a>
            </div>
            <div class="compromiso blue">
                {% if distrito.slug != 'distrito-24' %}
                <h3>
                    Compromiso por la participación en el proceso constituyente.
                </h3>
                <p>Impulsado desde <a href="https://www.redparalaparticipacion.cl/" target="_blank">la Red para la Participación.</a></p>
                {% else %}
                <h3>
                    Decálogo por una participación activa en el proceso constituyente Elaborado por organizaciones de Los Ríos.
                </h3>
                <p>Impulsado por la <a>Red para la Participación</a></p>
                {% endif %}
                <a class="boton-antp" href="{{distrito.link_compromiso_participacion}}" target="_blank">Revisa el compromiso</a>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 datos-porcentajes">
            <!--div class="item-porcentaje">
                <h4>Participación electoral de la comuna en el<span>Plebiscito 25-O</span></h4>
                <p class="porcentaje">42.78%</p>
            </div>
            <<div class="item-porcentaje">
                <h4>Participación <span>Nivel Comunal</span> en la última elección</h4>
                <p class="porcentaje">42.78%</p>
            </div-->
            <div class="item-porcentaje boton-locales-votacion">
                <h4>Elecciones <span>mayo 2021</span></h4>
                <a class="boton-antp" href="https://ahoranostocaparticipar.cl/uploads/decidim/attachment/file/149/Kit_Informacio%CC%81n_oportuna_Elecciones_2021.pdf" target="_blank">
                    <!--<img src="{% static 'imagenes/map-icono-white.svg' %}" alt="mapa-icono" class="icono-mapa" width="25px;">-->¡Todo lo que debes saber!</a>
            </div>
            <div class="item-porcentaje boton-locales-votacion">
                <h4>¿Donde me toca <span>votar</span>?</h4>
                <a class="boton-antp" href="{{distrito.region_territory.link_geo_referencia}}" target="_blank">
                    <img src="{% static 'imagenes/map-icono-white.svg' %}" alt="mapa-icono" class="icono-mapa" width="25px;">Buscar tu local</a>
            </div>
        </div>
    </div>
</section>




<!--{% include 'propuestas_con_candidatos_dentro.html' with distrito=distrito %} -->

{% include 'candidatos_con_porcentajes.html' with distrito=distrito %} {% endblock content %}
